doctype html
html
  head
    style
      include ./style.css
  body
    .container
      h1 Hello,
      p I create beautiful websites, softwares, mobile apps for business seo and other digital services.
      p If you are interested, please let me know.
      p Thanks,
      p Jules
